/* Default body style */
body {
  font-family: Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.375;
}

/* This will match if the fonts failed to load. It is identical to the default but doesn't have to be*/
.fonts-failed body {
  font-family: Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.375;
}

/* This will match when fonts load successfully */
.fonts-loaded body {
  font-family: notosans-regular, verdana, sans-serif;
  font-size: 16px;
  line-height: 1.375;
}

// We need to assign specific font faces to specific styles (bold, italic, bold/italic
em,
i {
  font-family: notosans-italic, Verdana, sans-serif;;
  font-style: italic;
}

em em {
  font-family: notosans-regular, Verdana, sans-serif;
}

strong,
b {
  font-family: notosans-bold, Verdana, sans-serif;
  font-weight: 700;
}

strong em,
em strong {
  font-family: notosans-bolditalic, Verdana, sans-serif;
  font-weight: 700;
  font-style: italic;
}

code {
  background-color: #ededed;
  font-family: notomono-regular, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}



/* Informational messages */
.message {
  border: 1px solid black;
  border-radius: 10px;
  display: block;
  padding: .5em;
  margin: 1em 0;

  &.info {
    background-color: lightblue;
  }

  &.warning {
    background-color: lightyellow;
  }

  &.danger {
    background-color: indianred;
  }
}
